
:root{
    --color: #ffffff;
}

body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

header{
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .project-name{
    font-size: 20px;
    color: white;
}

header .project-name p{
    margin: 10px 0;
}

#gui-container {
    width: 250px; 
    height: 400px; 
    overflow-y: auto; 
    overflow-x: hidden;
    position: fixed; 
    top: 80px; 
    right: 0;
    background-color: transparent;
}


header .option-bar{
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
}

header .option-bar .dropdown{
    width: 125px;
}

header .option-bar .dropdown .content p{
    margin: 0;
    padding: 10px 0;
    height: auto;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    color: white;
}

header .option-bar .dropdown .content:hover{
    background: #ffffff;
}

header .option-bar .dropdown:hover .content p{
    color: black;
    
}

header .option-bar .dropdown p .bx{
    font-size: 15px;
}

header .option-bar button{
    border: none;
    background-color: #ffffff;
}

header .option-bar .dropdown .drop-content{
    opacity: 1;
    margin: 0;
    display: none;
    list-style: none;
    width: 125px;
    padding-inline-start: 0;
    background-color: #e2e1e1;
    position: absolute;
    border-radius: 0 0 0.5rem 0.5rem;
}

header .option-bar .dropdown .drop-content .option_geometry{
    padding: 2px 10px;
}

header .option-bar .dropdown .drop-content .texture{
    padding: 2px 10px;
}


header .option-bar .dropdown .drop-content .light{
    padding: 2px 10px;
}

header .option-bar .dropdown .drop-content .animation{
    padding: 2px 10px;
}

header .option-bar .dropdown .drop-content li{
    font-size: 15px;
    cursor: pointer;
}

header .option-bar .dropdown .drop-content li:hover{
    position: relative;
    background: rgb(0,0,0, 1);
    border-radius: 0.5rem;
    transform: scale(1.1);
    color: white;
}

header .option-bar .dropdown .drop-content li:active{
    transform: scale(0.99);
}

header .option-bar .dropdown:hover .drop-content{
    display: block;
}

header .option-bar .dropdown:hover .content{
    background-color: #e2e1e1;
}

#container{
    position: relative;
}

.transform{
    margin: 5px 0;
}

.transform #button{
    position: absolute;
    top: 10px;
    left: 10px;
}

.transform button{
    margin: 0 5px;
}

header .option-bar .dropdown .drop-content li {
    margin: 0;
    padding: 0;
}

.transform button{
    width: auto;
    height: 35px;
    background-color:white;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    font-weight: 700;
}

.transform button:hover{
    transform: scale(1.1);
    transition: all linear 0.2s;
    border: 1px solid white;
    background: none;
    color: white;
}
.transform button:active {
    transform: scale(1);
    transition: 0.1s;
}