
:root{
    --color: #ffffff;
}


header{
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .project-name{
    font-size: 20px;
}
header .option-bar{
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
}
header .option-bar .dropdown{
    width: 125px;
}
header .option-bar .dropdown .content p{
    height: auto;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
}
header .option-bar .dropdown .content:hover{
    background: #ffffff;
}
header .option-bar .dropdown p .bx{
    font-size: 15px;
}
header .option-bar button{
    border: none;
    background-color: #ffffff;
}
header .option-bar .dropdown .drop-content{
    display: none;
    list-style: none;
    width: 125px;
    padding-inline-start: 0;
    background-color: #e2e1e1;
    position: absolute;
    top: 6%;
}
header .option-bar .dropdown .drop-content li{
    font-size: 15px;
}
header .option-bar .dropdown .drop-content li:hover{
    background: #cbcbcb;
}
header .option-bar .dropdown:hover .drop-content {
    display: block;
}
header .option-bar .dropdown:hover .content {
    background-color: #e2e1e1;
}


#container{
    position: relative;
}
.transform #button{
    position: absolute;
    top: 10px;
    left: 10px;
}
.transform button{
    margin-right: 10px;
}